<div class="container p-2">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">

                <!--EMAILID CUSTOM DIRECTIVE-->
                <div class="form-group">
                    <label class="form-label">Email ID</label>
                    <input type="text" #email (emailValue)="validateEmail($event)"
                    class="form-control" placeholder="Enter an Email ID" appEmailDirective/>
                    <span *ngIf="!showErrorMessage">
                        This Email ID field is required!
                    </span> 
                    <span *ngIf="!showErrorMessage">
                        Please enter valid email address!
                    </span>
                </div>  

                <br/>
                <hr/>

                <!--DATE CUSTOM DIRECTIVE-->
                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="form-label">Enter the separator for date</label>
                        <input type="text" #separator (keyup)="onKeyUp($event)" class="form-control" 
                        placeholder="Separator" maxlength="2" required />
                    </div>
                    <div class="col-md-8">
                        <label class="form-label">Enter the number to be formatted to date</label>
                        <input type="text" #date (dateValue)="validateDate($event)"
                        [defaultSeparator]="separator.value"
                        class="form-control" placeholder="ddmmyyyy" maxlength="8" required appDateformat/>
                    </div> 
                </div>
                <span *ngIf="!isDateValid">Please enter valid data!</span>

                <br> 
                <hr>

                <!--PHONE NUMBER CUSTOM DIRECTIVE-->
                <div class="form-group row">
                    <div class="col-md-4">
                        <label class="form-label">Enter Length</label>
                        <input type="number" #phonelength (keyup)="onKey($event)" class="form-control" 
                        placeholder="" max="2" required />
                    </div>
                    <div class="col-md-8">
                        <label class="form-label">Enter the number</label>
                        <input type="text" #phonenum (phoneNumberValue)="validatePhoneNumber($event)" class="form-control" 
                        placeholder="" [attr.maxLength]="length" appPhoneNumber/>
                    </div> 
                </div>
                <span *ngIf="isPhoneNumberValid">
                    Please enter valid phone number!
                </span>

                <br/>

                </div>
            </div>
        </div>
    </div> 
</div>

<!--DI EXAMPLE-->
<!-- <app-sample></app-sample> -->

<!--LOGIN-->
<!-- <router-outlet></router-outlet>  -->

