<div class="container p-2">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                  <h3 class="mb-0">Add Movie</h3>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="onSubmit()">

                        <!--TITLE-->
                        <div class="form-group">
                            <label class="form-label">Title</label>
                            <input type="text" formControlName="title"
                            class="form-control" placeholder="Enter the Title" />
                        </div> 

                        <br/>

                        <!--DIRECTOR-->
                        <div class="form-group">
                            <label class="form-label">Director</label>
                            <input type="text" formControlName="director"
                            class="form-control" placeholder="Enter the Director" />
                        </div> 
    
                        <br/>

                        <!--CAST-->
                        <div class="form-group">
                            <label class="form-label">Cast</label>
                            <input type="text" formControlName="cast"
                            class="form-control" placeholder="Enter the cast" />
                        </div> 
    
                        <br/>

                        <!--PASSWORD-->
                        <div class="form-group">
                            <label class="form-label">Release Date</label>
                            <input type="date" formControlName="releaseDate"
                            class="form-control"  placeholder="Enter the date" />
                        </div>

                        <br/>

                        <div class=" card-footer text-center">
                            <button class="btn btn-sm btn-primary mx-3" type="submit"
                            [disabled]="!submitted">Submit</button>
                            <button class="btn btn-sm btn-secondary" type="reset">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div> 
